.transactionHistory {
  table-layout: fixed;
  width: 920px;
  margin: 0 auto 30px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  border-spacing: 3px;
}

.transactionHistory > thead {
  background-color: deepskyblue;
  color: #fff;
  text-transform: uppercase;
}

.transactionHistory th,
.transactionHistory td {
  padding: 20px;
  box-shadow: -5px -5px 5px -5px rgba(0, 0, 0, 0.6) inset;
}

.transactionHistory td {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: gainsboro;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: lightslategray;
}

.transactionHistory th:first-child {
  border-radius: 10px 0 0 0;
}

.transactionHistory th:last-child {
  border-radius: 0 10px 0 0;
}

.transactionHistory tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.transactionHistory tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
