.statistics {
  /*border: 1px solid rgba(0, 0, 0, 0.15);*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

.statList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 50px 0;
}

.item {
  display: flex;
  width: 70px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #cccccc;
  background-color: blueviolet;
}

.label {
  margin-bottom: 10px;
}

.percentage {
  font-weight: 700;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
